#screen{
    width:800px;
    height: 800px;
    background-color: white;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50px;
}

#top-bar{
    width:700px;
    height:170px;
    background-color: white;
    border-bottom:1.5px gray solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 50px;

}
#middle-bar{
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    width:700px;
    height:370px;
    margin-top:30px;
    margin-left:50px;
    margin-bottom:0px;
}
#mySelect{
    text-align: center;
}
#comSelect{
    text-align: center;
}
#divided-line{
    background-color: gray;
}
#score{
    font-size:60px;
    text-align: center;
    margin-bottom:30px ;
}
#reset{
    display:grid;
    grid-template-columns: 600px 70px;
    height: 40px;
}
#reset-button{
    border:none;
    background-color:aqua;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}