.line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.area{
    border: 1px solid black;
    height: 130px;
    width:130px;
    
}
.areaContainer{
    width:390px;
    padding-top:90px;
}
.screen{
    display: flex;
    justify-content: center;
}